{% extends 'base.html.twig' %}

{% block title %}Intranet - Sistemas{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block icon %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
{#<a class="btn btn-info" style="margin:10px;" href="{{ path("app_logout") }}">Cerrar sesión</a>#}

{# Recorrido de los sistemas del usuario, recibido por parametro #}

    <div style="margin-left:10px;margin-top:-20px;margin-bottom:20px;">
        <a href="#ventanaModal" data-toggle="modal" style="background-color:#516878;color:white;" class="btn" >Ver novedades</a>
        {#{% for rol in app.user.roles %}
            {% if loop.last %}
                <td><p style="color:grey">Rol: {{ rol|slice(5,rol|length)}}</p></td>
            {% endif %}
        {% endfor %}#}
    </div>

    <div style="margin:auto;">
        <div class="container-fluid">
            <h3><img style="padding-bottom:5px;" src="{{ asset("img/iconoUnraf.png") }}" width="30" alt="Logo unraf">SISTEMAS INTERNOS</h3>
        </div>
    </div>

    {# Modal de novedades #}
    <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content scroll">

                <div class="modal-header">
                    <h3 class="modal-title">Últimas novedades</h3>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <div style="border-left: 3px solid #516878 " class="modal-body">
                    {% for novedad in novedades %}
                        <div>
                            <h6 style="color:grey;">{{ novedad.fecha|date("d/m/Y") }} - N° {{novedad.numeroDocumento}}</h6>
                            <div style="margin:10px;color:grey;">
                                {{novedad.titulo}}
                            </div>
                            {% if loop.last %}
                            {% else %}
                                <hr>
                            {% endif %}
                        </div>
                    {% else %}
                        <div style="margin:20px;">
                            <h3 style="color:grey;">No hay novedades aún.</h3>
                        </div>
                    {% endfor %}    
                </div>
                <div class="modal-footer">
                    <button class="btn container" style="text-align:center;background-color:#516878;color:white;" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>
    


    <div id="sistemas" class="divSistemas">
        {# Parte donde aparecen los sistemas #}
        {% for sistema in sistemas %}
            {% if (loop.index -1) % 4 == 0 or loop.first %}
            <div class="row">
            {% endif %}
                <div class="container col-xs-3 col-md-3">  
                    {% if sistema in sistemasUsuario %}                                        
                    <div class="box-part text-center cuadroSistema">
                    {% else %}
                    <div class="box-part text-center cuadroSistemaGris">
                    {% endif %}

                    <img src="{{asset(('uploads/'~ sistema.logo))}}" style="width:20%;" class=" imagenSistema "></img>
                    <div class="title">
                        <h4 style="color:#306086"><b>{{sistema.nombre}}</b></h4>
                    </div>
                        {% if sistema in sistemasUsuario %}                                        
                            <a class="btn" style="background-color: #0F9FA8;color:white;"  href="{{ path('direccionamiento', {'id': sistema.id}) }}">Ingresar</a>
                        {% else %}
                            <button class="btn" style="background-color: grey;color:white;">Ingresar</button>
                        {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-dark" data-toggle="editar" href="{{path('modificarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="editar" style="width:25px;" src="{{ asset("img/editar.png") }}" alt="Card image cap"></a>
                        <a class="btn btn-danger"  href="{{path('eliminarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="borrar" style="width:25px;" src="{{ asset("img/eliminar.png") }}" width="10"alt="Card image cap"></a> 
                        {% if is_granted('ROLE_SUPERADMIN') %}
                            <a class="btn btn-warning" style="background-color:#FEB413;" href="{{path('verPermisos', {'id': sistema.id})}}"><img class="card-img-top" title="permisos" style="width:25px;" src="{{ asset("svg/llave.svg") }}" alt="Card image cap"></a>
                        {% endif %}
                    {% endif %}               
                    <div class="text">
                        <span style="color:grey;">{{sistema.descripcion}}</span>
                    </div>
                    </div>
                </div>
                {% if loop.index % 4 == 0 or loop.last %}
                </div>
                {% endif %}    
            {% else %}
                <h2>Acá deberían aparecer los sistemas, pero no hay</h2>
            {% endfor %}

            </div>
  
    </div>

    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}

{% endblock %}

