{% extends 'base.html.twig' %}

{% block title %}Intranet - Sistemas{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block icon %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{#<a class="btn btn-info" style="margin:10px;" href="{{ path("app_logout") }}">Cerrar sesión</a>#}

{# Recorrido de los sistemas del usuario, recibido por parametro #}

    <div style="margin:20px;;">
        <a href="#" id="verNovedades" style="background-color:#516878;color:white;" class="btn" >Ver novedades</a>
    </div>
    

    <div class="row" style="margin:auto;padding-left:40px;">

        <div id="tituloNovedades" class="col-md-4 col-4 col-sm-12 container-fluid"  >
            <h3 class="cuadroTitulos" style="background-image: linear-gradient(to right, #7596ad,#648093, #516878);box-shadow: 1px 1px 8px 1px #516878; ">Novedades</h3>
        </div>

        <div id="tituloSistema" class="col-md-8 col-8 col-sm-12 container-fluid"  >
            <h3 class="cuadroTitulos">Lista de sistemas</h3>
        </div>
    </div>

    

    <div class="row" style="margin:auto;padding-left:40px;">
    
        <div id="novedades" class="container-fluid col-4">
            <div class=" container-fluid col-6">
                {% for novedad in novedades %}
                <div style="margin-left:20px;margin-bottom:10px;  margin-right: 10px;">
                    <div class="card cuadroNovedades" >
                        <div class="card-img-bottom">
                            <div style="background-color:#516878;" class="card-title" >
                                <h5 style="text-align:center;">{{ novedad.fecha|date("d/m/Y") }}</h5>
                            </div>
                        </div>
                        <div class="card-block" >
                            
                            <hr style="background-color:white">
                            <P>Documento N° <b>{{ novedad.numeroDocumento }}</b></P>
                            <P>{{ novedad.titulo }}</P>
                            <P>{{ novedad.descripcion }}</P>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="sistemas" class="container-fluid col-8">
            {% set contador=1 %}
            {% for sistema in sistemas %}
                
                {% set idContador='card' ~ contador %}
                
                <div style="margin-left:20px;margin-bottom:10px;  margin-right: 10px;" id="{{idContador}}">
                    {% set contador = contador + 1 %}    
                    
                    {% if sistema in sistemasUsuario %}                                        
                    <div class="card cuadroSistema front">
                    {% else %}
                    <div class="card cuadroSistemaGris front">
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-img-bottom">
                                {% if sistema in sistemasUsuario %}                                        
                                    <img class="card-img-top  imagenSistema" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% else %}
                                    <img class="card-img-top imagenGris" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="card-block">
                                {% if sistema in sistemasUsuario %}
                                    <h2 class="card-title" style="text-align:center;padding-top: 10px;color:white;">{{ sistema.nombre }}</h2>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Agregar, editar y eliminar tu compra.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Seguir tus licitaciones.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Algún otro más</p>
                                {% else %}
                                    <h2 class="card-title" style="color:#15374F;padding-top:10px;">{{ sistema.nombre }}</h2>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Agregar, editar y eliminar tu compra.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Seguir tus licitaciones.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Algún otro más</p>
                                {% endif %}
                            </div>
                        </div>

                      </div>
                    </div>
                    {% if sistema in sistemasUsuario %}                                        
                    <div class="card cuadroSistema back">
                    {% else %}
                    <div class="card cuadroSistemaGris back">
                    {% endif %}
                        <div class="row">
                        <div class="col-md-6">
                            <div class="card-img-bottom">
                                {% if sistema in sistemasUsuario %}                                        
                                    <img class="card-img-top  imagenSistema" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% else %}
                                    <img class="card-img-top imagenGris" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="card-block">
                                {% if sistema in sistemasUsuario %}
                                    <p class="card-text" style="color:white;padding-top:10px;">{{ sistema.descripcion }}</p>
                                    <a class="btn btn-light btn-lg" style="padding-left:45px; padding-right:45px;background-color: #fcb819;border:none;"  href="{{ path('direccionamiento', {'id': sistema.id}) }}">Conectar</a><br><br>
                                {% else %}
                                    <p class="card-text" style="color:white;padding-top:10px;">{{ sistema.descripcion }}</p>
                                    <h5 style="color:#15374F;"><b>No tienes permisos para ingresar a este sistema</b></h5>
                                {% endif %}
                                
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-dark" data-toggle="editar" href="{{path('modificarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="editar" style="width:25px;" src="{{ asset("img/editar.png") }}" alt="Card image cap"></a>
                                    <a class="btn btn-danger"  href="{{path('eliminarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="borrar" style="width:25px;" src="{{ asset("img/eliminar.png") }}" width="10"alt="Card image cap"></a> 
                                {% endif %}
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
            {% else %}
                <h2>No se creó ningun sistema.</h2>
            {% endfor %}
            
                </div>
        
        
        
    </div>
    <h5 style="margin-left:15px;color:grey;padding-top:13px;">Los permisos se solicitan a <b style="color:#FEB413;">soporte@unraf.edu.ar</b></h5>
    <div class="container">
        {#<a class="btn btn-primary" href="{{ path("app_logout") }}">Volver</a>#}
    </div>

    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}
    

{% endblock %}

