{% extends 'base.html.twig' %}

{% block title %}Intranet - Sistemas{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block icon %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{#<a class="btn btn-info" style="margin:10px;" href="{{ path("app_logout") }}">Cerrar sesión</a>#}

{# Recorrido de los sistemas del usuario, recibido por parametro #}
    
    <div style="margin-left:10px;margin-top:-20px;">
        <a href="#ventanaModal" data-toggle="modal" style="background-color:#516878;color:white;" class="btn" >Ver novedades</a>
    </div>
    <div style="margin-right:10px;margin-top:-20px;">
        <a href="#ventanaModal" data-toggle="modal" style="background-color:#516878;color:white;" class="btn" >Ver novedades</a>
    </div>
    

    <div style="margin:auto;padding-left:40px;">
        <div class="col-md-8 container-fluid">
            <h3 class="margin-bottom:10px;"><img src="{{ asset("img/iconoUnraf.png") }}" width="30" height="30" alt="Logo unraf">Sistemas internos</h3>
        </div>
    </div>
    {#
    <div class="modal fade" id="ventanaModal">
        <div class="modal-dialog">
            <div class="modal-content scroll">

                <div class="modal-header">
                    <h3 class="modal-title">Últimas novedades</h3>
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div style="border-left: 3px solid #516878 " class="modal-body">
                    {% for novedad in novedades %}
                        <div>
                            <h6 style="color:grey;">{{ novedad.fecha|date("d/m/Y") }} - N° {{novedad.numeroDocumento}}</h6>
                            <div style="margin:10px;color:grey;">
                                {{novedad.titulo}}
                            </div>
                            {% if loop.last %}
                            {% else %}
                                <hr>
                            {% endif %}
                        </div>
                    {% else %}
                        <div>
                            <h4>No hay novedades aquí</h4>
                        </div>
                    {% endfor %}    
                </div>
                <div class="modal-footer">
                    <button class="btn container" style="text-align:center;background-color:#516878;color:white;" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>#}

    <div class="row" style="margin:auto;padding-left:40px">
    
        <div id="sistemas" class="container-fluid col-10">
            {% set contador=1 %}
            {% for sistema in sistemas %}
                {% set idContador='card' ~ contador %}

                {% if loop.index %2 == 0 %}

                <div style="margin-left:20px;margin-bottom:10px;  margin-right: 10px;" id="{{idContador}}">
                    {% set contador = contador + 1 %}    
                    
                    {% if sistema in sistemasUsuario %}                                        
                    <div class="card cuadroSistema front">
                    {% else %}
                    <div class="card cuadroSistemaGris front">
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-img-bottom">
                                {% if sistema in sistemasUsuario %}                                        
                                    <img class="card-img-top  imagenSistema" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% else %}
                                    <img class="card-img-top imagenGris" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="card-block">
                                {% if sistema in sistemasUsuario %}
                                    <h2 class="card-title" style="text-align:center;padding-top: 10px;color:white;">{{ sistema.nombre }}</h2>
                                    <hr style="background-color:white;">
                                    <p class="card-text" style="color:white;padding-top:10px;">#{{sistema.palabra1}}</p>
                                    <p class="card-text" style="color:white;padding-top:10px;">#{{sistema.palabra2}}</p>
                                    <p class="card-text" style="color:white;padding-top:10px;">#{{sistema.palabra3}}</p>
                                {% else %}
                                    <h2 class="card-title" style="color:#15374F;padding-top:10px;">{{ sistema.nombre }}</h2>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Agregar, editar y eliminar tu compra.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Seguir tus licitaciones.</p>
                                    <p class="card-text" style="color:white;padding-top:10px;"># Algún otro más</p>
                                {% endif %}
                            </div>
                        </div>

                      </div>
                    </div>
                    {% if sistema in sistemasUsuario %}                                        
                    <div class="card cuadroSistema back">
                    {% else %}
                    <div class="card cuadroSistemaGris back">
                    {% endif %}
                        <div class="row">
                        <div class="col-md-6">
                            <div class="card-img-bottom">
                                {% if sistema in sistemasUsuario %}                                        
                                    <img class="card-img-top  imagenSistema" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% else %}
                                    <img class="card-img-top imagenGris" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="card-block">
                                {% if sistema in sistemasUsuario %}
                                    <p class="card-text" style="color:white;padding-top:10px;">{{ sistema.descripcion }}</p>
                                    <a class="btn btn-light btn-lg" style="padding-left:45px; padding-right:45px;background-color: #fcb819;border:none;"  href="{{ path('direccionamiento', {'id': sistema.id}) }}">Conectar</a><br><br>
                                {% else %}
                                    <p class="card-text" style="color:white;padding-top:10px;">{{ sistema.descripcion }}</p>
                                    <h5 style="color:#15374F;"><b>No tienes permisos para ingresar a este sistema</b></h5>
                                {% endif %}
                                
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-dark" data-toggle="editar" href="{{path('modificarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="editar" style="width:25px;" src="{{ asset("img/editar.png") }}" alt="Card image cap"></a>
                                    <a class="btn btn-danger"  href="{{path('eliminarSistema', {'id': sistema.id})}}"><img class="card-img-top" title="borrar" style="width:25px;" src="{{ asset("img/eliminar.png") }}" width="10"alt="Card image cap"></a> 
                                {% endif %}
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% else %}
                      
                  {% endif %}
            {% else %}
                <h2>No hay sistemas disponibles.</h2>
            {% endfor %}
                </div>
            
        
        
        
    </div>
    <h5 style="margin-left:15px;color:grey;padding-top:13px;">Los permisos se solicitan a <b style="color:#FEB413;">soporte@unraf.edu.ar</b></h5>
    <div class="container">
        {#<a class="btn btn-primary" href="{{ path("app_logout") }}">Volver</a>#}
    </div>

    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}
    

{% endblock %}

