{% extends 'base.html.twig' %}

{% block title %}Intranet - Sistemas{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block icon %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{#<a class="btn btn-info" style="margin:10px;" href="{{ path("app_logout") }}">Cerrar sesión</a>#}

{# Recorrido de los sistemas del usuario, recibido por parametro #}

    <div class="row" style="margin:auto;">
        <div class="col-6">
            <h3 style="text-align:center;">Lista de sistemas</h3>
        </div>
        <div class="col-6">
            <h3 style="text-align:center;">Novedades</h3>
        </div>
    </div>

    <div class="row" style="margin:auto;padding-left:40px;">
        <div class="container-fluid col-6">
            
            {% for sistema in sistemas %}
                <div class="container">
                    <div class="modal fade" id="modal">
                        <div class="modal-dialog">
                            <div class="modal-content" style="text-align:center;">
                                <div class="modal-header">
                                    <h5 class="modal-body" style="text-align:center;">Está seguro que desea eliminar el sistema?</h5>
                                </div>
                                <div class="modal-footer">
                                    <div style="text-align:center;">
                                        <a class="btn btn-danger"  href="{{path('eliminarSistema', {'id': sistema.id})}}">Aceptar</a>
                                        <button type="button" class="btn" style="background-color:#306086; color:white;" data-dismiss="modal">Rechazar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if sistema in sistemasUsuario %}                                        
                        <div class="card cuadroSistema">
                    {% else %}
                        <div class="card cuadroSistemaGris">
                    {% endif %}
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="card-img-bottom">
                                {% if sistema in sistemasUsuario %}                                        
                                    <img class="card-img-top imagenSistema" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% else %}
                                    <img class="card-img-top imagenGris" src="{{asset(('uploads/'~ sistema.logo))}}" alt="Imagen del sistema">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-block">
                                <h4 class="card-title">{{ sistema.nombre }}</h4>
                                <p class="card-text" style="color:#E1E1E1;">{{ sistema.descripcion }}</p>

                                {% if sistema in sistemasUsuario %}
                                    <a class="btn btn-warning" style="padding-left:45px; padding-right:45px;"  href="{{sistema.url}}">Conectar</a><br><br>
                                {% else %}
                                    <h5 style="color:#A41616;">No tiene permisos</h5>
                                {% endif %}
                                
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-dark" href="{{path('modificarSistema', {'id': sistema.id})}}"><img class="card-img-top" style="width:25px;" src="{{ asset("img/editar.png") }}" alt="Card image cap"></a>
                                    <a class="btn btn-danger" data-toggle="modal" href="#modal"><img class="card-img-top" style="width:25px;" src="{{ asset("img/eliminar.png") }}" width="10"alt="Card image cap"></a> 
                                {% endif %}
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>

            {% endfor %}
            
        </div>
        
        
        <div class="col-6">
            <div class=" container-fluid  cuadroNovedades col-6">
                <h1 style="text-align:center;">[Pendiente]</h1>
            </div>
        </div>
    </div>
    <h5 style="margin-left:15px;color:grey;">Los permisos se solicitan a <b>soporte@unraf.edu.ar</b></h5>
    <div class="container">
        {#<a class="btn btn-primary" href="{{ path("app_logout") }}">Volver</a>#}
    </div>
    
    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}

{% endblock %}
