{% extends 'base.html.twig' %}

{% block title %}Hello SistemaController!{% endblock %}

{% block body %}
{{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
    <div>
        <h3 style="text-align:center;">Sistemas >> Nuevo sistema</h3>
    </div>
    <div style="background-color:white" class="container formularioSistema">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top rounded imagenSistema" id="imagen" src="{{asset(('uploads/'~ imagen))}}" alt="Imagen del sistema">
            </div>
        <div class="col-8">
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
            <div style="margin-top: 30px;" class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <h5>Nombre:</h5>
                </div>
                <div class="col-sm-10 espaciado">
                    {{ form_widget(formulario.nombre, {attr: {class: 'form-control campoForm'} })}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 col-form-label">
                    <h5>Imágen:</h5>
                </div>
                <div class="col-10 espaciado ">
                    {{ form_widget(formulario.logo)}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <h5>URL:</h5>
                </div>
                <div class="col-sm-10 espaciado ">
                    {{ form_widget(formulario.url, {attr: {class: 'form-control campoForm'} })}}
                </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Descripción:</h5>
            </div>
            <div class="col-sm-10 espaciado ">
                {{ form_widget(formulario.descripcion, {attr: {class: 'form-control campoForm'} })}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <h5>Palabras Claves:</h5>
            </div>
            <div class="col-sm-10 espaciado ">
                1#{{ form_widget(formulario.palabra1, {attr: {class: 'form-control campoForm'} })}}
                2#{{ form_widget(formulario.palabra2, {attr: {class: 'form-control campoForm'} })}}
                3#{{ form_widget(formulario.palabra3, {attr: {class: 'form-control campoForm'} })}}
            </div>
        </div>
    </div>
            {{ form_widget(formulario.Listo, {attr: {class: 'container-fluid btn btn-primary colorBoton'} })}}
    {{ form_end(formulario) }}  
    </div>
    
    </div>
</div>
    
    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}

{% endblock %}
