{% extends 'base.html.twig' %}

{% block title %}Intranet - Editar sistema{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block icon %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <div>
        <h3 style="text-align:center;">Administración de ROLES<b></b></h3>
    </div>
    <div  style="padding:10px; margin:10px;">
        <div >
            <b> CANTIDAD DE USUARIOS: {{ usuarios|length }}</b>
        </div>
        <hr>
        <div style="margin-top:5px;">
            {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
            <div class="container campoForm" style="text-align:center;">
                
                <div style="" class="form-group row">
                    <div class="col-sm-6">
                        {{ form_widget(formulario.buscar, {attr: {class: 'form-control campoForm' , placeholder: 'Escriba el email..'} }) }}  
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(formulario.Buscar, {attr: {style: 'background-color: #fc447c;color:white;',class: 'form-control campoForm btn'} }) }}  
                    </div>
                </div>
            
            </div>
            {{ form_end(formulario) }}
            
        </div>
    </div>
    <table style="text-align:center;" class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Última conexión</th>
        <th scope="col">Rol</th>
        <th scope="col">Cambio de rol</th>
        </tr>
    </thead>
    {% for usuario in usuarios %}
        <tbody style="">
            <tr>
            <th scope="row">{{ loop.index }}</th>
            <td><h6 style="color:#fc447c">{{ usuario.email|replace({'@unraf.edu.ar': ''})}}</h6></td>
            <td><h6 style="color:#fc447c">{{ usuario.ultimoAcceso|date("d/m H:i")}}</h6></td>
            {% for rol in usuario.roles %}
            {% if loop.last %}
                <td><p style="color:#2B2B2B">{{ rol|slice(5,rol|length)}}</p></td>
                    {% if rol=="ROLE_SUPERADMIN" %}
                    <td>
                        <a href="{{path('cambioUser', {'id': usuario.id})}}" class="btn btn-success">User</a>
                        <a href="{{path('cambioAdmin',{'id': usuario.id})}}" class="btn btn-primary">Admin</a>
                    </td>
                    {% elseif rol=="ROLE_ADMIN" %}
                    <td>
                        <a href="{{path('cambioSuperAdmin',{'id': usuario.id})}}" class="btn btn-success">Superadmin</a>
                        <a href="{{path('cambioUser',{'id': usuario.id})}}" class="btn btn-primary">User</a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{{path('cambioAdmin', {'id': usuario.id})}}" class="btn btn-dark">Admin</a>
                        <a href="{{path('cambioSuperAdmin',{'id': usuario.id})}}" class="btn btn-success">SuperAdmin</a>
                    </td>
                    {% endif %}
            {% endif %}  
            {% endfor %}
            </tr>
        </tbody>
    {% else %}
        <div class="row" style="margin:20px;">
            <h3 style="color:grey;">No se encontraron usuarios</h3>
        </div>
    {% endfor %}  
    
    </div>
    {% block notificaciones %}
        {{ parent() }}
    {% endblock notificaciones %}
</div>
{% endblock %}
