<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="{{ asset("css/compilado.css") }}" rel="stylesheet" type="text/css">
            
        {% endblock %}
        {% block icon %}
            <link rel="icon" href="{{ asset("img/iconoUnraf.png") }}">
        {% endblock icon %}
    </head>
    <body>
        <div id="divLogin" width: 75%; height: 100vh; class="container cuadroLogin fondo">
            <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="60%">Intranet</text>
                </symbol>
                <g class = "g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
                <div class="container" style="text-align:center;">
            <section class=botones>
                <h2 style="margin-bottom: 20px;color:white;">Iniciar sesión desde:</h2>
                <div id="separar">
                    <a id="botonLogin" href="{{ path("connect_google")}}" style="padding:15px 50px 15px 50px;background-color:#fc447c;color:white;" class="btn btn-lg"><img style="width:50px;" src="{{ asset("img/logoGmail.png") }}" alt="Logo gmail">Gmail</a>
                    <p id="mensajeLogin" style="color:white;">
                        Sólo para cuentas con dominio UNRaf
                    </p>
                </div>
            </section>
        </div>
            </svg>
        </div>    
    </body>
    
    {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            {#<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset("js/accionesDinamicas.js") }}"></script>
            
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    {% endblock %}
</html>
