<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="{{ asset("css/estilo.css") }}" rel="stylesheet" type="text/css">
            
            
        {% endblock %}
        {% block icon %}
            <link rel="icon" href="{{ asset("img/iconoUnraf.png") }}">
        {% endblock icon %}
    </head>
    <body>
    {% block body %}
     
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            {# Este div es para dejar centrado Los botones #}
            <a class="navbar-brand" href="{{path('sistemas')}}"><img src="{{ asset("img/home.png") }}" width="30" height="30" alt="Home"></a>
        </div>
        <div class="mx-auto order-0 ">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sistemas
                    </a>
                    <div class="dropdown-menu itemMenu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="formMenu dropdown-item" href="{{ path('nuevoSistema') }}">Nuevo sistema</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('permisos') }}">Permisos</a>
                </li>
                {% endif %}
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><img src="{{ asset("img/cerrarSesion.png") }}" width="19" height="19" alt="Sesion"> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
                    
    {% block notificaciones %}
        {% for message in app.flashes('correcto') %}
            <div id="notificacion" class="alert alert-success float-right">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div id="notificacion" class="alert alert-danger">
            {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div id="notificacion" class="alert alert-warning">
            {{ message }}
            </div>
        {% endfor %}
    {% endblock notificaciones %}
    
    {% endblock %}
    </body>
    
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ asset("js/app.js") }}"></script>
        <script src="{{ asset("js/comportamientos.js") }}"></script>
        <script src="{{ asset("js/accionesDinamicas.js") }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        {# <script type="text/javascript">
            $('picker').daterangerpicker({
               singleDatePicker:true,
               timePicker: true,
               timePickerSeconds: true,
               timePicker24hour: true,
               locale:{
                   format: 'YYYY-MM-DD hh:mm:ss'
               }
            });
        </script> #}

    {% endblock %}
    
</html>
