<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="{{ asset("css/compilado.css") }}" rel="stylesheet" type="text/css">
            <link href="{{ asset("css/estilo.css") }}" rel="stylesheet" type="text/css">
            
        {% endblock %}
        {% block icon %}
            <link rel="icon" href="{{ asset("img/iconoUnraf.png") }}">
        {% endblock icon %}
    </head>
    <body>
        <div class="container cuadroLogin">
            <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="80%">Intranet</text>
                </symbol>
                <g class = "g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
                <div class="container" style="text-align:center;">
            <section class=botones>
                <h3 style="margin-bottom: 20px;">Iniciar sesión desde:</h3>
                <div id="separar">
                    <a href="{{ path("connect_google")}}" class="boton3"><img style="width:50px;" src="{{ asset("img/logoGmail.png") }}" alt="Logo gmail">Gmail</a>
                </div>
            </section>
        </div>
            </svg>
        </div>    
    </body>
</html>
